@import "../../global/variables.scss";

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 8px;
}

.app-home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.loadingspinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 140px;
    height: 150px;
  }
}
